/* Book details */
h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  /* File upload styling */
  input[type="file"] {
    padding: 5px;
  }
  
  /* Button styling */
  input[type="submit"], button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
  }
  